satisfaction-form-with-KVD/kvd_monitoring.json
[
    {
        "id": "0d3d9e84271c3a9a",
        "type": "tab",
        "label": "Display Satisfaction Form",
        "disabled": false,
        "info": ""
    },
    {
        "id": "de33d704cf59ad8f",
        "type": "ctrlx-datalayer-subscribe",
        "z": "0d3d9e84271c3a9a",
        "subscription": "0c1de4dcf35a4d8b",
        "path": "samples/kvd/implicit/satisfy/d",
        "name": "D",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "56cac07ae2ac4520"
            ]
        ]
    },
    {
        "id": "8c4169e9ac1bfdd2",
        "type": "ctrlx-datalayer-subscribe",
        "z": "0d3d9e84271c3a9a",
        "subscription": "0c1de4dcf35a4d8b",
        "path": "samples/kvd/implicit/satisfy/n",
        "name": "N",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "31bd6fe822fc80d1"
            ]
        ]
    },
    {
        "id": "6a8f5a33aec2f49b",
        "type": "ctrlx-datalayer-subscribe",
        "z": "0d3d9e84271c3a9a",
        "subscription": "0c1de4dcf35a4d8b",
        "path": "samples/kvd/implicit/satisfy/s",
        "name": "S",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "bd356d51dfad349c"
            ]
        ]
    },
    {
        "id": "0ca83e4373f00d28",
        "type": "ctrlx-datalayer-subscribe",
        "z": "0d3d9e84271c3a9a",
        "subscription": "0c1de4dcf35a4d8b",
        "path": "samples/kvd/implicit/satisfy/vs",
        "name": "VS",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "d0f74b9ff550cddd"
            ]
        ]
    },
    {
        "id": "ce74b024dcb9f306",
        "type": "ctrlx-datalayer-subscribe",
        "z": "0d3d9e84271c3a9a",
        "subscription": "0c1de4dcf35a4d8b",
        "path": "samples/kvd/implicit/satisfy/vd",
        "name": "VD",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "09ae02ee31e5071a"
            ]
        ]
    },
    {
        "id": "d0f74b9ff550cddd",
        "type": "function",
        "z": "0d3d9e84271c3a9a",
        "name": "vs",
        "func": "msg.topic = \"Awesome\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 80,
        "wires": [
            [
                "98ba4e392283d9c9",
                "4287023d6a5a4c80",
                "ad92d4cdabc2f67c"
            ]
        ]
    },
    {
        "id": "bd356d51dfad349c",
        "type": "function",
        "z": "0d3d9e84271c3a9a",
        "name": "s",
        "func": "msg.topic = \"Good\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "7473cc7fa1653a43",
                "4287023d6a5a4c80",
                "ad92d4cdabc2f67c"
            ]
        ]
    },
    {
        "id": "31bd6fe822fc80d1",
        "type": "function",
        "z": "0d3d9e84271c3a9a",
        "name": "n",
        "func": "msg.topic = \"So so\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "daf18507bc9e5041",
                "4287023d6a5a4c80",
                "ad92d4cdabc2f67c"
            ]
        ]
    },
    {
        "id": "56cac07ae2ac4520",
        "type": "function",
        "z": "0d3d9e84271c3a9a",
        "name": "d",
        "func": "msg.topic = \"Not So Good\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 200,
        "wires": [
            [
                "b2222fa9f79520f5",
                "4287023d6a5a4c80",
                "ad92d4cdabc2f67c"
            ]
        ]
    },
    {
        "id": "09ae02ee31e5071a",
        "type": "function",
        "z": "0d3d9e84271c3a9a",
        "name": "vd",
        "func": "msg.topic = \"Terrible\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "deadca6f07711e31",
                "4287023d6a5a4c80",
                "ad92d4cdabc2f67c"
            ]
        ]
    },
    {
        "id": "98ba4e392283d9c9",
        "type": "influxdb out",
        "z": "0d3d9e84271c3a9a",
        "influxdb": "e7c2108fb1d3654e",
        "name": "vs",
        "measurement": "vs",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "rexroth",
        "bucket": "form",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "deadca6f07711e31",
        "type": "influxdb out",
        "z": "0d3d9e84271c3a9a",
        "influxdb": "e7c2108fb1d3654e",
        "name": "vd",
        "measurement": "vd",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "rexroth",
        "bucket": "form",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "daf18507bc9e5041",
        "type": "influxdb out",
        "z": "0d3d9e84271c3a9a",
        "influxdb": "e7c2108fb1d3654e",
        "name": "n",
        "measurement": "n",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "rexroth",
        "bucket": "form",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "7473cc7fa1653a43",
        "type": "influxdb out",
        "z": "0d3d9e84271c3a9a",
        "influxdb": "e7c2108fb1d3654e",
        "name": "s",
        "measurement": "s",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "rexroth",
        "bucket": "form",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "b2222fa9f79520f5",
        "type": "influxdb out",
        "z": "0d3d9e84271c3a9a",
        "influxdb": "e7c2108fb1d3654e",
        "name": "d",
        "measurement": "d",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "rexroth",
        "bucket": "form",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "4287023d6a5a4c80",
        "type": "ui_chart",
        "z": "0d3d9e84271c3a9a",
        "name": "pie",
        "group": "30698ae77f2c2554",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ad92d4cdabc2f67c",
        "type": "ui_chart",
        "z": "0d3d9e84271c3a9a",
        "name": "bar",
        "group": "4dd59c93c2881dfb",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0c1de4dcf35a4d8b",
        "type": "ctrlx-config-subscription",
        "device": "5096f8cfb7e989cb",
        "name": "local_subb",
        "publishIntervalMs": "1"
    },
    {
        "id": "e7c2108fb1d3654e",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "form",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "30698ae77f2c2554",
        "type": "ui_group",
        "name": "Pie Chart",
        "tab": "3266a93f9ac7b406",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": true,
        "className": ""
    },
    {
        "id": "4dd59c93c2881dfb",
        "type": "ui_group",
        "name": "Bar Chart",
        "tab": "3266a93f9ac7b406",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5096f8cfb7e989cb",
        "type": "ctrlx-config",
        "name": "local_sub",
        "hostname": "localhost",
        "debug": false
    },
    {
        "id": "3266a93f9ac7b406",
        "type": "ui_tab",
        "name": "Satisfaction Data",
        "icon": "fa-check-square-o",
        "disabled": false,
        "hidden": false
    }
]
